html {
  background-color: #09111f;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.6);
}

h1 {
  text-align: center;
  border-top: 2px solid grey;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}
